@media only screen and (max-width: 600px){
body{
    height: max-content;
    width: min-content;
}
}

    
main{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}
header{
    width: 100%;
    background: lightblue;
    text-align: center;
    
}

#sec1{
    padding: 50px;
    text-align: justify;
    width: min-content;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
}
#sec2{
    padding: 50px;
    text-align: justify;
    width: min-content;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
}
#sec3{
    padding: 50px;
    text-align: justify;
    width: min-content;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
}
#sec4{
    padding: 50px;
    text-align: justify;
    width: min-content;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px;
}



#image{
    border-radius: inherit;
}
#text{
    text-align: center;
    font-size: 16;
    line-break: normal;
    font-weight: lighter;
}
a{
    text-decoration: none;
}

#conform{
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#query{
    width: min-content;
    height: max-content;
    resize: none;
}

#about p{
    text-align: justify;
}
